/*****************************************************************************
          File: settings.css
   Description: Style Sheets for the settings page functions for GarageRTC.  See
                https://github.com/jharmer95/Garage-RTC/ for details on the
                Open GarageRTC project.
       Authors: Daniel Zajac,  danzajac@umich.edu
                Jackson Harmer, harmer@umich.edu

*****************************************************************************/
.validText {
    background-color: whitesmoke;
}

.invalidText {
    background-color: palevioletred;
}

.octicon {
    color: white;
}

svg {
    fill: currentColor;
}